.home-heading{
 text-align: left;
}
.home-text{
    text-align: left;

}
h3.home-subheading{
    font-family: "Outfit", sans-serif;
    font-weight:600;
}
p.home-subtext{
    font-family: "Outfit", sans-serif;
    font-weight:500;

}
h4.home-subtext{
    text-align: left;
    font-weight:700; 
}